.profile-navbar {
  height: 40px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .link-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    .selected-link {
      font-size: 14px;
      color: var(--main-link-hover);
      width: 100%;
      text-align: center;
    }
    .selected-link:hover {
      cursor: pointer;
    }
    .link {
      font-size: 14px;
      color: var(--main-link-color);
      width: 100%;
      text-align: center;
    }
    .link:hover {
      color: var(--main-link-hover);
      cursor: pointer;
    }
    .normal-box {
      width: 100%;
      height: 5px;
      background: var(--main-link-color);
    }
    .hover-box {
      width: 100%;
      height: 5px;
      background: var(--main-link-hover);
    }
  }
}